<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duma App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Приложение для просмотра текста выступлений в рамках заседаний Государственной Думы Российской Федерации (1994 - 2022)</h1>

        <form class="ui form" action="/get_name" method="get">
            <div class="field">
                <label>Выступающий</label>
                <input type="text" name="sp_name" placeholder="Введите фамилию выступающего"><br>
            </div>
            <button class="ui blue button" type="submit">Поиск по выступаюшему</button>
        </form>

        <hr>

        <form class="ui form" action="/get_year" method="get">
            <div class="field">
                <label>Год</label>
                <input type="text" name="year" placeholder="Введите год"><br>
            </div>
            <button class="ui blue button" type="submit">Поиск по году</button>
        </form>

        <hr>

        {% for todo in duma_list %}
        <div class="ui segment"> 
            <p class="ui huge header">{{ todo.name }}</p>
            <p class="ui medium header right aligned" style="color:seagreen;">{{ todo.positive_prob }}</p>
            <p class="ui medium header right aligned" style="color:Tomato;">{{ todo.negative_prob }}</p>
            <p class="ui tiny">{{ todo.text }}  [ {{ todo.year }} год]</p>
            <p class="ui tiny">Количество слов - {{ todo.text_w_length }}    |    Длина текста - {{ todo.text_length }}    |    Количество выступлений за год- {{ todo.performances }}</p>
            <p class="ui tiny header">{{ todo.positive }}</p>
            <a class="ui red button" href="/delete/{{ todo.id }}">Удалить</a>
        </div>
        {% endfor %}

        <hr>

        <a href="/easterEgg" target="_blank">
            <button>Пасхалка</button>
        </a>
    </div>
</body>

</html>